<html>
   <head>
      <title>Teams</title>
      <link rel="stylesheet" type = "text/css" href="">
   </head>
   <body>
      <div class="">
         <p>Here are the team details</p>
         <table>
            <tr>
               <td>Name of the Team: <%= details.name %></td></tr>
            <tr><td> Name of the City: <%= details.city %></td></tr>
            <tr><td>Name of the State: <%= details.state %></td></tr>
            <tr><td>Championships Paticipated: <%= details.championship %></td></tr>
            <tr><td>Years in Leauge: <%= details.years_in_leauge %></td></tr>
            <tr><td>Years in Team:  <%= details.years_in_team %></td></tr>
         </table>   
         <a href = "/team"><button>Back to Teams Page</button></a> 
      </div>
   </body>
</html>
